<form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <h3>Create Post</h3>
    <div class="form-group">
      <input 
        type="text" 
        class="form-control" 
        name="topic"
        ngModel
        required 
        placeholder="Existing Topic Name">
    </div>
    <div class="form-group">
      <textarea
        type="text" 
        class="form-control" 
        rows="5"
        name="post"
        ngModel
        required 
        placeholder="Post For the Topic"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

