<app-header></app-header>
<div class="container-fluid text-center">
  <button type="button" class="btn btn-primary btn-sm" (click)=onaddbuttonclick()>New</button>    
    <div class="row content">
      <app-topiclist class="col-sm-2 sidenav" *ngIf="isListMode"></app-topiclist>
      <app-topiccreate class="col-sm-2 sidenav" *ngIf="!isListMode"></app-topiccreate>
      <app-postlist class="col-sm-8 text-left"*ngIf="isListMode"></app-postlist>
      <app-postcreate class="col-sm-8 text-left"*ngIf="!isListMode"></app-postcreate>
    </div>
  </div>
<app-footer class="container-fluid text-center"></app-footer>  
